.product {
   display: grid;
   grid-template-columns: 0.5fr 1fr;
   border: 1px solid #000;
   &__image-container {
      width: 200px;
      height: 200px;
      & img {
         width: 100%;
      }
   }
   &__description-container {
      margin: 10px;
   }

   &__comments {
      margin-top: 5px;
   }
}
